.background {
    background: center no-repeat
      url("dist/images/cast-app-background.jpg");
  }
  .logo {
    background-image: url("dist/images/logo.svg");
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  }
  .progressBar {
    background-color: rgb(100, 255, 221);
  }
  .splash {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    /* background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-business-technology-digital-high-tech-world-background-backgroundtechnology-backgroundhigh-tech-backgroundworld-image_79012.jpg); */
  }
  .watermark {
    background-image: url(watermark.png);
    background-size: 57px 57px;
  }